services:
  # MySQL Database
  db:
    image: mysql:8.0
    command: --max_connections=200
    container_name: ticketing-db
    ports:
      - "3306:3306"
    environment:
      SPRING_DATASOURCE_URL: jdbc:mysql://db:3306/${DB_NAME}?createDatabaseIfNotExist=true&useSSL=false&allowPublicKeyRetrieval=true
      MYSQL_ROOT_PASSWORD: ${DB_ROOT_PASSWORD}
      MYSQL_DATABASE: ${DB_NAME}
      SPRING_JPA_HIBERNATE_DDL_AUTO: validate # operation
      #SPRING_JPA_HIBERNATE_DDL_AUTO: update # local
      SPRING_JPA_SHOW_SQL: "true"
      SPRING_JPA_PROPERTIES_HIBERNATE_FORMAT_SQL: "true"
    volumes:
      - ticketing_db_data:/var/lib/mysql
    networks:
      - ticketing-network

  # Redis (Queue & Distributed Lock)
  redis:
    image: redis:latest
    container_name: ticketing-redis
    ports:
      - "6379:6379"
    networks:
      - ticketing-network

  zookeeper:
    image: confluentinc/cp-zookeeper:7.5.0
    container_name: ticketing-zookeeper
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
    networks:
      - ticketing-network

  # Kafka Infrastructure
  kafka:
    image: confluentinc/cp-kafka:7.5.0
    container_name: ticketing-kafka
    depends_on:
      - zookeeper
    ports:
      - "9092:9092"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:29092,PLAINTEXT_HOST://localhost:9092
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
    networks:
      - ticketing-network

  # Spring Boot Application
  app:
    build: .
    container_name: ticketing-app
    ports:
      - "8083:8083"
    depends_on:
      - db
      - redis
      - kafka
    deploy:
      resources:
        limits:
          memory: 2G
        reservations:
          memory: 1G
    environment:
      SPRING_DATASOURCE_URL: jdbc:mysql://db:3306/${DB_NAME}?createDatabaseIfNotExist=true&useSSL=false&allowPublicKeyRetrieval=true
      SPRING_DATASOURCE_USERNAME: ${DB_USERNAME}
      SPRING_DATASOURCE_PASSWORD: ${DB_ROOT_PASSWORD}
      SPRING_JPA_HIBERNATE_DDL_AUTO: update
      SPRING_DATA_REDIS_HOST: redis
      SPRING_DATA_REDIS_PORT: 6379
      JAVA_TOOL_OPTIONS: "-XX:MaxRAMPercentage=75.0"

      SPRING_KAFKA_BOOTSTRAP_SERVERS: kafka:29092
    networks:
      - ticketing-network
  prometheus:
    image: prom/prometheus
    container_name: prometheus
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
    ports:
      - "9090:9090"
    networks:
      - ticketing-network

  grafana:
    image: grafana/grafana
    container_name: grafana
    ports:
      - "3000:3000"
    volumes: # 이 부분을 추가해야 설정이 영구 저장됩니다.
      - ./grafana-data:/var/lib/grafana
    depends_on:
      - prometheus
    networks:
      - ticketing-network

  zipkin:
    image: openzipkin/zipkin
    container_name: zipkin
    ports:
      - "9411:9411"
    networks:
      - ticketing-network

networks:
  ticketing-network:
    driver: bridge

volumes:
  ticketing_db_data:

