version: '3.8'

services:
  # MySQL Database
  db:
    image: mysql:8.0
    container_name: ticketing-db
    ports:
      - "3306:3306"
    environment:
      MYSQL_ROOT_PASSWORD: ${DB_ROOT_PASSWORD}
      MYSQL_DATABASE: ${DB_NAME}
    volumes:
      - ./mysql_data:/var/lib/mysql
    networks:
      - ticketing-network

  # Redis (Queue & Distributed Lock)
  redis:
    image: redis:latest
    container_name: ticketing-redis
    ports:
      - "6379:6379"
    networks:
      - ticketing-network

  # Kafka Infrastructure
  zookeeper:
    image: confluentinc/cp-zookeeper:7.5.0
    container_name: ticketing-zookeeper
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
    networks:
      - ticketing-network

  kafka:
    image: confluentinc/cp-kafka:7.5.0
    container_name: ticketing-kafka
    depends_on:
      - zookeeper
    ports:
      - "9092:9092"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:29092,PLAINTEXT_HOST://localhost:9092
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
    networks:
      - ticketing-network

  # Spring Boot Application
  app:
    build: .
    container_name: ticketing-app
    ports:
      - "8083:8083"
    depends_on:
      - db
      - redis
      - kafka
    environment:
      SPRING_DATASOURCE_URL: jdbc:mysql://db:3306/${DB_USERNAME}?createDatabaseIfNotExist=true&useSSL=false&allowPublicKeyRetrieval=true
      SPRING_DATASOURCE_USERNAME: ${DB_USERNAME}
      SPRING_DATASOURCE_PASSWORD: ${DB_ROOT_PASSWORD}
      SPRING_DATA_REDIS_HOST: redis
      SPRING_KAFKA_BOOTSTRAP_SERVERS: kafka:29092
    networks:
      - ticketing-network

networks:
  ticketing-network:
    driver: bridge